# Node modules (installed dependencies)
node_modules/

# Environment variables
.env

# Build output (compiled TypeScript to JavaScript)
dist/

# Compiled CSS
public/styles/output.css

# macOS system file
.DS_Store


# Private photos / documents
public/assets/profilePic/IMG_0467.JPG
public/assets/profilePic/IMG_0478.JPG
public/assets/profilePic/IMG_0592.JPG
public/resume/Aidan Holton Resume 2024.pdf

# Hosting
.firebase
.firebaserc
firebase.json