# Environment variables
.env

# Compiled CSS
public/styles/output.css

# macOS system file
.DS_Store

# Private photos / documents
public/assets/profilePic/IMG_0467.JPG
public/assets/profilePic/IMG_0478.JPG
public/assets/profilePic/IMG_0592.JPG
public/resume/Resume 2025 - Aidan Holton.pdf

# Hosting
.firebase
.firebaserc
firebase.json

# Compiled JavaScript files
dist/
dist/**/*.js
dist/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local