.grid11SlideAnimation{
    animation: grid11Slide 400ms ease-out forwards;
}

.grid13SlideAnimation{
    animation: grid13Slide 400ms ease-out forwards;
}

.grid14SlideAnimation{
    animation: grid14Slide 400ms ease-out forwards;
}

.grid15SlideAnimation{
    animation: grid15Slide 1000ms ease-out forwards;
}

.textAreaSlideAnimation{
    animation: textAreaSlide 850ms ease-out forwards;
}

.grid16SlideAnimation{
    animation: grid16Slide 400ms ease-out forwards;
}

.grid17SlideAnimation{
    animation: grid17Slide 400ms ease-out forwards;
}

@keyframes grid11Slide{
    from {
        transform: translatey(-400px);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes grid13Slide{
    from {
        transform: translatex(-400px);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes grid14Slide{
    from {
        transform: translatey(-400px);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes grid15Slide{
    0% {
        transform: translatey(-400px);
    }
    50% {
        transform: translatey(0);
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

@keyframes textAreaSlide{
    0% {
        height: calc(var(--spacing) * 20)
    }
    100% {
        height: calc(var(--spacing) * 60)
    }
}

@keyframes grid16Slide{
    from {
        transform: translatex(400px);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes grid17Slide{
    from {
        transform: translatey(-400px);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}