.grid1SlideAnimation{
    animation: grid1Slide 200ms ease-out forwards;
}

.grid2SlideAnimation{
    animation: grid2Slide 200ms ease-out forwards;
}

.grid3SlideAnimation{
    animation: grid3Slide 200ms ease-out forwards;
}

.grid4SlideAnimation{
    animation: grid4Slide 200ms ease-out forwards;
}

.grid5SlideAnimation{
    animation: grid5Slide 200ms ease-out forwards;
}

.grid6SlideAnimation{
    animation: grid6Slide 200ms ease-out forwards;
}

.grid7SlideAnimation{
    animation: grid7Slide 200ms ease-out forwards;
}

.grid8SlideAnimation{
    animation: grid8Slide 200ms ease-out forwards;
}

.grid9SlideAnimation{
    animation: grid9Slide 200ms ease-out forwards;
}

.grid10SlideAnimation{
    animation: grid10Slide 200ms ease-out forwards;
}

@keyframes grid1Slide{
    from {
        transform: translatex(-800px);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes grid2Slide{
    from {
        transform: translatex(-800px);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes grid3Slide{
    from {
        transform: translatey(-400px);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes grid4Slide{
    from {
        transform: translatey(-400px);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes grid5Slide{
    from {
        transform: translatex(500px);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes grid6Slide{
    from {
        transform: translatey(-500px);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes grid7Slide{
    from {
        transform: translatex(500px);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes grid8Slide{
    from {
        transform: translatey(250px);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes grid9Slide{
    from {
        transform: translatey(250px);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes grid10Slide{
    from {
        transform: translatex(-800px);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

.smallRaise{
    animation: buttonLower 200ms linear forwards;   
}

.smallRaise:hover{
    animation: buttonRaise 200ms linear forwards;
}

@keyframes buttonRaise{
    from{
        transform: translateY(0px);
    };
    to {
        transform: translateY(-1px);
    };
}

@keyframes buttonLower{
    from{
        transform: translateY(-1px);
    };
    to {
        transform: translateY(0px);
    };
}