.animate-raise:hover{
    animation: homeButtons 200ms linear forwards;
}

@keyframes homeButtons{
    0%{
        transform: translateY(0px);

    }
    100%{
        transform: translateY(-5px);
    }
}